* {
    margin: 0;
    padding: 0;
}

body {
    background: #080e24 url("http://neography.com/experiment/circles/solarsystem/bg.jpg") repeat;
    color: #626668;
}

div.wrap {
    width: 960px;
    margin: 0 auto;
    /* padding: 60px 0; */
}

section {
    display: block;
    position: relative;
}

header {
    text-align: center;
}

/* Solar System Styles */
ul.solarsystem {
    position: relative;
    height: 640px;
    list-style: none;
    -webkit-transition: all 0.09s ease-in;
    -moz-transition: all 0.09s ease-in;
    -o-transition: all 0.09s ease-in;
    transition: all 0.09s ease-in;
    overflow: hidden;
}
ul.solarsystem li {
    text-indent: -1000px;
    position: absolute;
    border: 2px dashed #394057;
}

/* planet style */
ul.solarsystem li span {
    display: block;
    position: absolute;
    width: 10px;
    height: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
ul.solarsystem span.jupiter {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
    top: 12px;
    left: 12px;
}
ul.solarsystem li.active {
    border-color: #aa4200;
}
ul.solarsystem li.active.sun,
ul.solarsystem li.active span {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
}
ul.solarsystem li.active.sun span,
ul.solarsystem li.active.earth .moon {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
ul.solarsystem li.sun {
    width: 80px;
    height: 80px;
    -webkit-border-radius: 40px;
    -moz-border-radius: 40px;
    border-radius: 40px;
    background: #fc3;
    top: 282px;
    left: 442px;
    border: none;
    -webkit-box-shadow: 0 0 50px #c90;
    -moz-box-shadow: 0 0 50px #c90;
    box-shadow: 0 0 50px #c90;
    z-index: 100;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
}
ul.solarsystem li.sun span {
    width: 60px;
    height: 60px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}
/* Earth Line */
ul.solarsystem li.earth {
    width: 220px;
    height: 220px;
    -webkit-border-radius: 112px;
    -moz-border-radius: 112px;
    border-radius: 112px;
    top: 210px;
    left: 370px;
    z-index: 97;
}
/* Earth On Line */
ul.solarsystem li.earth span {
    background: #00f9ff;
    top: 95px;
    right: -6px;
}
ul.solarsystem li.earth span.moon {
    width: 4px;
    height: 4px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    background: #ccc;
    top: 12px;
    left: 12px;
}

/* mars Line */
ul.solarsystem li.mars {
    width: 320px;
    height: 320px;
    -webkit-border-radius: 162px;
    -moz-border-radius: 162px;
    border-radius: 162px;
    top: 160px;
    left: 320px;
    z-index: 117;
}
/* mars on line */
ul.solarsystem li.mars span {
    background: orange;
    top: 145px;
    right: -6px;
}

/* ceres Line */
ul.solarsystem li.ceres {
    width: 400px;
    height: 400px;
    -webkit-border-radius: 362px;
    -moz-border-radius: 362px;
    border-radius: 362px;
    top: 120px;
    left: 280px;
    z-index: 117;
}
/* ceres on line */
ul.solarsystem li.ceres span {
    background: #ff00a7;
    top: 166px;
    right: -5px;
}

/* jupiter line */
ul.solarsystem li.jupiter {
    width: 480px;
    height: 480px;
    -webkit-border-radius: 662px;
    -moz-border-radius: 662px;
    border-radius: 662px;
    top: 80px;
    left: 240px;
    z-index: 117;
}
/* jupiter on line */
ul.solarsystem li.jupiter span {
    width: 40px;
    height: 40px;
    background: #00ff11;
    top: 122px;
    right: 0px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
}

/* CSS3 Animations */
ul.solarsystem li {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:orbit;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:orbit;
}
ul.solarsystem li.earth span {
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -webkit-animation-name:moon;

    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
    -moz-animation-name:moon;
}

/* earth animation */
ul.solarsystem li.earth {-webkit-animation-duration:12s; -moz-animation-duration:12s;}
ul.solarsystem li.earth span {-webkit-animation-duration:2s; -moz-animation-duration:2s;}
/* 2nd animation */
ul.solarsystem li.earth {-webkit-animation-duration:12s; -moz-animation-duration:12s;}
ul.solarsystem li.earth span {-webkit-animation-duration:2s; -moz-animation-duration:2s;}
/* mars animation */
ul.solarsystem li.mars {-webkit-animation-duration:22s; -moz-animation-duration:22s;}
ul.solarsystem li.mars span {-webkit-animation-duration:2s; -moz-animation-duration:4s;}
/* ceres animation */
ul.solarsystem li.ceres {-webkit-animation-duration:32s; -moz-animation-duration:12s;}
ul.solarsystem li.ceres span {-webkit-animation-duration:2s; -moz-animation-duration:4s;}
/* ceres animation */
ul.solarsystem li.jupiter {-webkit-animation-duration:42s; -moz-animation-duration:12s;}
ul.solarsystem li.jupiter span {-webkit-animation-duration:2s; -moz-animation-duration:4s;}

@-webkit-keyframes orbit { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-webkit-keyframes moon { from { -webkit-transform:rotate(0deg) } to { -webkit-transform:rotate(360deg) } }
@-moz-keyframes orbit { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
@-moz-keyframes moon { from { -moz-transform:rotate(0deg) } to { -moz-transform:rotate(360deg) } }
